.accountInfomation{
    
    box-shadow: 5px 5px 5px rgb(118, 114, 114);
    border-radius: 0px 20px 0px 0px;

    
    .formInfomation{
        width: 100%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        

        .personalInfomation, .addressInfomation{
            margin-top: 1%;
            margin-bottom: 2%;
            width: 95%;
            padding: 2%;
            background-color: transparent;
            border-radius: 10px;
            border: 2px solid rgba(235, 230, 230, 0.71);
        }

        .infomation{
            display: grid;
            
            div{
                position: relative;
                margin: 2%;
                margin-top: 25px;
                label{
                    position: absolute;
                    top: 6px;
                    left: 5px;
                    transition: top 0.3s ease;
                    opacity: 50%;
                }
                input{
                    width: 90%;
                    margin-top: 1%;
                    appearance: none;
                    
                    border-radius: 5px;
                    background-color: transparent;
                    padding: 2px 6px;
                }
                
                input:focus{
                    
                    outline: none;
                }

                #firstName:focus ~ .lblFirstName,
                #firstName.notEmpty ~ .lblFirstName
                {
                    top: -20px;
                    opacity: 100%;
                }

                #lastName:focus ~ .lblLastName,
                #lastName.notEmpty ~ .lblLastName
                {
                    top: -20px;
                    opacity: 100%;
                }

                #phoneNumber:focus ~ .lblPhoneNumber,
                #phoneNumber.notEmpty ~ .lblPhoneNumber
                {
                    top: -20px;
                    opacity: 100%;
                }

                #emailAddress:focus ~ .lblEmailAddress,
                #emailAddress.notEmpty ~ .lblEmailAddress
                {
                    top: -20px;
                    opacity: 100%;
                }

                #country:focus ~ .lblCountry,
                #country.notEmpty ~ .lblCountry
                {
                    top: -20px;
                    opacity: 100%;
                }

                #city:focus ~ .lblCity,
                #city.notEmpty ~ .lblCity
                {
                    top: -20px;
                    opacity: 100%;
                }

                #district:focus ~ .lblDistrict,
                #district.notEmpty ~ .lblDistrict
                {
                    top: -20px;
                    opacity: 100%;
                }

                #ward:focus ~ .lblWard,
                #ward.notEmpty ~ .lblWard
                {
                    top: -20px;
                    opacity: 100%;
                }


            }
        }
    }

    @media (min-width: 1285px){
        .hightlight{
            font-size: 1.2rem;
        }
        .formInfomation{
            font-size: 1.1rem;
            .infomation{
                grid-template-columns: auto auto;
                
            }
        }
    }

    @media (max-width: 1284px){
        .hightlight{
            font-size: 1.1rem;
        }
        .formInfomation{
            font-size: 1rem;
            .infomation{
                grid-template-columns: auto auto;
            }
        }
    }

    @media (min-width:500px) and (max-width: 800px){
        .hightlight{
            font-size: 1rem;
        }
        .formInfomation{
            font-size: 0.9rem;
            .infomation{
                grid-template-columns: auto;
            }
        }
    }

    @media(max-width: 499px){
        .hightlight{
            font-size: 0.9rem;
        }
        .formInfomation{
            font-size: 0.8rem;
            .infomation{
                grid-template-columns: auto;
                
            }
        }
    }
}

.accountInfomation.light{
    .formInfomation{
        .infomation{
            div{
                input{
                    border: 2px solid rgb(3, 82, 42);
                }
                input:focus{
                    box-shadow: 0px 0px 2px green;
                }
            }
        }
    }
}

.accountInfomation.dark{
    .formInfomation{
        .infomation{
            div{
                input{
                    border: 2px solid rgb(203, 124, 13);
                }
                input:focus{
                    box-shadow: 0px 0px 2px rgb(232, 197, 126);
                }
            }
        }
    }
}