.wrapperSignUp{
    overflow: hidden;
    position: relative;
    .image{
        position: relative;
        img{
            width: 100%;
            height: 110vh;
            object-fit: cover;
        }
        
    }
    .image::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 5%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 1;
        pointer-events: none;
    }
    .image::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        height: 100%;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 1;
        pointer-events: none;
    }

    .form{
        margin-top: 2%;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-60%);
        backdrop-filter: blur(6px);
        .greeting{
            font-size: 2rem;

        }
        form{
            background-color: transparent;
            border: 2px solid rgb(255, 255, 255,0.8);
            padding: 5% 10%;
            box-shadow: 1px 1px 1px rgb(158, 56, 56);
            border-radius: 1rem;
            
            .inputField{

                width: 100%;
                
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 3%;
                    #username,#password,#rewritePassword {

                        appearance: none;
                        outline: none;
                        border: none;
                        flex: 1;
                        background-color: transparent;
                       
                    }

                    input::placeholder{
                        color: rgb(58, 60, 60);
                    }

                    box-shadow: 2px 2px 0px rgb(101, 97, 97);
                    border: 2px solid rgb(255, 255, 255, 0.8) ;
                    border-radius: 1.5rem;
                }

            }

            div{
                .forgotPassword{
                    text-decoration: none;
                    color: rgb(207, 81, 81);
                    float: right;
                }

                button{
                    width: 45%;
                }

                .anotherWaysignUp{
                    img{
                        cursor: pointer;
                        transition: transform 0.3s ease;
                    }
                    img:hover{
                        transform: scale(1.2);
                    }
                }
            }
            
        }
        
        
    }
    @media (min-width: 1024px){
        .form{
            font-size: 1.2rem;
         
            .greeting{
                font-size: 2rem;
    
            }

            form{
                .signUp{
                    font-size: 2rem;
                }
            }
        }
    } 

    @media (min-width: 768px) and (max-width: 1023px){
        .form{
            font-size: 1.1rem;
            width: 50%;
            .greeting{
                font-size: 1.6rem;
                
            }
            form{
                .signUp{
                    font-size: 1.6rem;
                }
            }
        }
    }

    @media (min-width: 428px) and (max-width: 767px){
        .form{
            font-size: 1.1rem;
            width: 75%;
            .greeting{
                font-size: 1.4rem;
                
            }
            form{
                .signUp{
                    font-size: 1.4rem;
                }
            }
        }
    }

    @media (max-width: 427px){
        .form{
            font-size: 1rem;
            width: 80%;
            .greeting{
                font-size: 1.2rem;
                
            }
            form{
                .signUp{
                    font-size: 1.2rem;
                }
            }
        }
    }
}
input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: -internal-light-dark(rgb(0, 80, 219), rgba(0, 81, 231, 0.4)) !important;
    color: fieldtext !important;
}

.wrapperSignUp.light{
    color: black;
}
.wrapperSignUp.dark{
    color: white;
}