:root {
    --primary-color: var(--light-primary-color);
    color: var(--primary-color);
}

.light-theme {
    --light-primary-color: #3498db;
}

.dark-theme {
    --light-primary-color: #2c3e50;
}


  
  
  
  