
.wrapperBackdrops{
    background-color: black;
    padding-top: 2%;
    font-size: 25px;
    color: aliceblue;
    .contentBackdrops{
        margin-left: 10%;
        width: 85%;
    
        img{
            width: 98%;
            height: 100%;
        }
    }
}

