
.wrapperField{
    background-color: black;
    font-size: 25px;
    color: aliceblue;
    font-weight: bold;
}

.content{
    padding-top: 2%;
    margin-left: 10%;
}

.containerVideos{
    width: 95%;
}

.iframe{
    height: 80vh;
}

.titleName{
    text-decoration: underline rgb(226, 34, 5) solid 3px;
   
}