$dark-color-text: #f4eae8;
$light-color-text: #416390;
$dark-color-bg: #000000;
$light-color-bg: rgb(223, 223, 229);
$dark-color-menu: #142634;
$light-color-menu: rgb(156, 185, 200);


#header{
    position: absolute;
}

.containerTopNewestFilm{
    color: $dark-color-text;
    .carousel-item{
      position: relative;
      overflow: hidden;
      height: 100%;
      .wrapInfoMovie{
        position: absolute;
        margin-top: 7vh;
        top: 0;
        left: 0;
        
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        .info{
            .titleFilm{
              font-size: 2rem;
            }
            margin-top: 15%;
            margin-left: 20%;
            font-size: 20px;
        }

      }

      .overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        
        
      }
    }

    @media (min-width: 1024px) {
      .carousel-item{
        .wrapInfoMovie{
          width: 45%;
        }
        .overlay{
          height: 15%;
        }
      }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      .carousel-item{
        .wrapInfoMovie{
          width: 60%;
          .info{
            .infoOverflow{
              .overview{
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 96%;
              }
              
            }
            .titleFilm{
              font-size: 1.6rem;
            }
            .btn-success{
              font-size: 15px;
            }
            margin-top: 10%;
          }
        }
        .overlay{
          height: 10%;
        }
      }
    }

    @media (max-width: 767px) {
      .carousel-item{
        .wrapInfoMovie{
          width: 60%;
          .info{
            margin-top: 5%;
            
            .titleFilm{
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 96%;
              font-size: 20px;
            }
            .btn-success{
              font-size: 12px;
            }
            .infoOverflow{
              display: none;
            }
          }
        }
        .overlay{
          height: 5%;
        }
        
      }
    }
    .carousel-control-next,
    .carousel-control-prev {
        width: 8%;
        opacity: 0;
        transition: opacity 1s ease;
       span{
        display: none;
       }
    }
    
    .carousel-control-next:hover,
    .carousel-control-prev:hover {
       background-color: black;
       opacity: 1;
       span{
        display: block;
       }
    }
}

.containerTopNewestFilm.light{
  .overlay{
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            $light-color-bg 125%
        );
  }
}

.containerTopNewestFilm.dark{
  .overlay{
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            $dark-color-bg 105%
        );
  }
}
