.container {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.navigation {
    margin: 2% 5%;
}


.footer {
    margin: auto auto 0px auto;
}