$light-color-bg: #d6d6d6;
$light-color-text: #000000;
$dark-color-bg: #000000;
$dark-color-text: #ffffff;
.containerActor{
    width: 100%;
    .wrapBanner{
        width: 100%;
        .containerBanner{
            width: 100%;
            height: 100%;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                opacity: 0.7;
            }
        }
        
        .containerBanner::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20%;
            height: 100%;
            z-index: 1;
            pointer-events: none;
        }
        
        .containerBanner::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 20%;
            height: 100%;
            z-index: 1;
            pointer-events: none;
        }
        
        .overlay{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40%;
            
         
            pointer-events: none;
        }
    
        .descriptionMovie{
            top: 0;
            left: 0;
            width: 70%;
            height: auto;
            margin-top: 10%;
            margin-left: 10%;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            padding: 1rem;
            
            position: absolute;
            z-index: 1;
            .wrapMovieDetailsAndActorAvatar{
                display: grid;
                grid-template-columns: 80% 20%;
                .movieDetails{
                    width: 100%;
                    
                    display: block;
                    .titleMovie{
                        font-weight: bold;
                    }
                    
                }
                .actorAvatar{
                    margin-left: 5%;
                    overflow: hidden;
                    border-radius: 5px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    img{
                        border-radius: 5px;
                        width: 100%;
                        height: 100%;
                        opacity: 1;
                        
                        transition: transform 0.3s ease;
                    }
                    .actorName{
                        width: 100%;
                        text-align: center;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        font-size: 1rem;
                        background-color: rgb(81, 109, 100);
                        opacity: 0;
                        transition: opacity 0.3s ease;
                    }
                    
                }
                .actorAvatar:hover{
                    img{
                        transform: scale(1.2);
                        
                    }
                    .actorName{
                        opacity: 1;
                    }
                }
            }
            
              
        }

        .carousel-control-next,
        .carousel-control-prev {
            width: 8%;
            opacity: 0;
            transition: opacity 1s ease;
        span{
            display: none;
        }
        }
        
        .carousel-control-next:hover,
        .carousel-control-prev:hover {
        background-color: #000000;
        opacity: 1;
        span{
            display: block;
        }
        }

        @media (min-width: 1024px){
            
            
            .titleMovie{
                font-size: 2rem;
            }
        }
    
        @media (min-width: 768px) and (max-width: 1023px){
            .titleMovie{
                font-size: 1.8rem;
            }
            .overview{
                max-height: calc(1.8rem*4);
                width: 100%;
            
                overflow: hidden;
                position: relative;
                display: -webkit-box;
                -webkit-line-clamp: 5; /* Số dòng tối đa */
                -webkit-box-orient: vertical;
            }
            
          
        }
    
        @media (min-width: 451px) and (max-width: 767px){
            
            .titleMovie{
                font-size: 1.3rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .genres{
                display: none;
            }
            .overview{
                max-height: calc(1.6rem*2);
                width: 100%;
            
                overflow: hidden;
                position: relative;
                display: -webkit-box;
                -webkit-line-clamp: 3; /* Số dòng tối đa */
                -webkit-box-orient: vertical;
            }
            .content{
                margin-left: 2%;
                width: 95%;
            }
            
          
        }
    
        @media (max-width: 450px){
            .titleMovie{
                font-size: 1.3rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .play{
                font-size: 10px;
            }
            .genres{
                display: none;
            }
            .overview{
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .content{
                margin-left: 2%;
                width: 95%;
            }
            
          
        }
    }
    
    .containerActorsList{
        display: flex;
        justify-content: center;
        .wrapActorsList{
            width: 80%;
            display: grid;
            
            .wrapActor{
                position: relative;
                margin: 1%;
                border-radius: 2px;
                overflow: hidden;
                img{
                    width: 100%;
                    transition: transform 0.3s ease;
                }
                
                div{
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    
                    background-color: rgb(81, 109, 100);
                    opacity: 1;
                }
    
            }
            .wrapActor:hover{
                img:hover{
                    transform: scale(1.25);
                    cursor: pointer;
                }
            }
            
        }

        @media (min-width: 1024px){
            
            
            .wrapActorsList{
                grid-template-columns: 25% 25% 25% 25%;
                div{
                    font-size: 1.2rem;
                }
            }
            
          
        }
    
        @media (min-width: 768px) and (max-width: 1023px){
            
            .wrapActorsList{
                grid-template-columns: 25% 25% 25% 25%;
                div{
                    font-size: 1rem;
                }
            }
            
            
          
        }
    
        @media (min-width: 428px) and (max-width: 767px){
            
            .wrapActorsList{
                grid-template-columns: 33% 33% 33%;
                div{
                    font-size: 0.8rem;
                }
            }
            
            
          
        }
    
        @media (max-width: 428px){
           
            .wrapActorsList{
                grid-template-columns: 50% 50%;
                div{
                    font-size: 0.7rem;
                }
            }
            
            
          
        }
    }



}

.containerActor.light{
    color: $light-color-text;
    background-color: $light-color-bg;
    

    .wrapBanner{
        background-color: #646464;
        .containerBanner::before{
            
        }
        .containerBanner::after{
            
        }
        .overlay{
            background: linear-gradient(
                to top, $light-color-bg 0%, rgba(0, 0, 0, 0) 100%
            );
        }
    }

    
}

.containerActor.dark{
    color: $dark-color-text;
    background-color: $dark-color-bg;

    
    .wrapBanner{
        background-color: #000000;
        .containerBanner::before{
            background: linear-gradient(
                to right,rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%
            );
        }
        .containerBanner::after{
            background: linear-gradient(
                to left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%
            );
        }
        .overlay{
            background: linear-gradient(
                to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%
            );
        }
    }
    

}



  

  