$dark-color-text: #f4eae8;
$light-color-text: #000000;
$dark-color-bg: #000000;
$light-color-bg: rgb(227, 229, 231);
$dark-color-menu: #142634;
$light-color-menu: rgb(160, 166, 169);



.containerFilm.light{
    background-color: $light-color-bg;
    color: $light-color-text
}

.containerFilm.dark{
    background-color: $dark-color-bg;
    color: $dark-color-text
}